#ignore all csv, txt, and exe files (except CMAKE)
*.txt 
!CMakeLists.txt
*.exe

#ignores vscode files and directories
*.vscode
*.vs

#ignore irrelevent git stuff
*Git Stuff

#ignore build files
*build