#ignore all csv, txt, and exe files (except CMAKE)
*.txt 
!CMakeLists.txt
*.exe

#ignores vscode files and directories
*.vscode
*.vs

#ignores my experiment files
*exp.cpp

#ignore git stuff
*Git Stuff

#ignore build files
*build

#ignore documentation
*Documentation
